body{
    background: linear-gradient(to left bottom,lightgreen, lightblue);
    display: flex;
    margin: 0;   
    min-height: 100vh;
}
div{
    background-color: rgba(0, 139, 139, .5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 500px;
    height: 500px;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
    
}
.input{
    padding: 10px 20px;
    font-size: 18px;
    background: rgba(0, 139, 139, .4);
    border-color: rgba(0,139, 139, .5 );
    margin: 10px;
}
#btn{
    background: rgba(0, 139,139, .7);
    border: none;
    padding: 10px;
    box-shadow:0 5px 5px;
    margin: 10px;
    border-radius: 10%;
    font-size: 20px;
    cursor:pointer;
}
#btn:hover{
   box-shadow: 0 0 8px rgba(0,0,0,.3); 
   transition:all 300ms ease;
}

.weight-condition{
    font-size: 20px;
}
