body{
    background: linear-gradient(to right,darkcyan , azure );
    margin: 0;
    display: flex;
    justify-content: center;
}

.form{
    top: 30%;
    background-image:url("https://plus.unsplash.com/premium_vector-1755179673475-013022d68c33?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    padding: 30px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 10px 10px;
    width: 300px;
    height: auto;
    align-items: center;

}

.input{
    width: 300px;
    height: 30px;
    box-shadow:0 5px 5px;
    border-radius: 5px;
    border-color:transparent;
    color: cadetblue;
    box-sizing: border-box;
    padding: 20px;
    font-size: 20px;
}

.input::placeholder{
    color: lightgrey;
}
.list{
    color: darkslategray;
    font-family:monospace ;
    padding: 10px;
    font-size: larger
}

.list li{
    padding: 20px;
    border-top: dotted;
    color: darkslategray;
    position: relative;
}

.list li .fa-trash{
    color: red;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.list li .fa-square-check{
    color:green;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.list li.checked{
    color: darkgrey;
    text-decoration: line-through;
}

.list li.checked .fa-square-check{
    color: darkgray;
}